{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Statistics App</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
                  <img class="navbar-brand__logo" alt="Statistics App" src="{% static 'logo.png' %}">
                  Statistics App
              </h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/about">О компании</a></li>
                  <li><a href="/reviews">Отзывы</a></li>
                  <li><a href="/contacts">Контакты</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Statistics App</h1>
            <p class="lead">Хочешь знать, о ком больше пишут в СМИ, кто популярнее из телевизионных звезд, у кого больше шансов на победу на выборах?</p>
            <p class="lead">
              <a href="/common" class="btn btn-lg btn-default">Хочу все знать!</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <img class="app-store-badge" alt="Statistics App in App Store" src="{% static 'app-store-badge.svg' %}">
                <img class="google-play-badge" alt="Statistics App in Google Play" src="{% static 'google-play-badge.png' %}">
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js'%}"  charset="utf-8"></script>
  </body>
</html>
