{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if "success" in message %}
  <div class="alert alert-success" role="alert">{{message.success}}</div>
{% endif %}
{% if "error" in message %}
  <div class="alert alert-warning" role="alert">{{message.error}}</div>
{% endif %}

<h2>Последние отзывы</h2>
{% for review in reviews %}
<div class="panel panel-default">
  <div class="panel-heading">{{review.2}}</div>
  <div class="panel-body">
    {{review.6}}
  </div>
</div>
{% endfor %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="">
      <i class="icon-envelope main-color"></i>
      Оставьте свой отзыв
    </h3>
  </div>
  <div class="panel-body">
    <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->

    <form role="form" id="feedbackForm" method="post" action="/reviews/">{% csrf_token %}
      <div class="form-group">
        <input required type="text" class="form-control" id="name" name="name" placeholder="Имя" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
        <span class="help-block" style="display: none;">Please enter your name.</span>
      </div>
      <div class="form-group">
        <input required type="email" class="form-control" id="email" name="email" placeholder="Электронная почта">
        <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
      </div>
      <div class="form-group">
        <textarea required rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Сообщение"></textarea>
        <span class="help-block" style="display: none;">Please enter a message.</span>
      </div>
      <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Отправить</button>
    </form>
    <!-- END CONTACT FORM -->
  </div>
</div>
{% endblock content %}
