.navbar-brand__logo {
  width: 32px;
  margin-top: -6px;
}

img.app-store-badge {
  width: 140px;
}

img.google-play-badge {
  width: 160px;
}

.h1-button {
  margin-top: 25px;
  margin-bottom: 10px;
}
