<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Root Context: defines shared resources visible to all other web components -->

    <import resource="spring-security.xml"/>

    <context:annotation-config/>

    <context:property-placeholder location="classpath:db/mysql.properties" system-properties-mode="OVERRIDE"/>

    <bean id="dataSource"
          class="org.apache.tomcat.jdbc.pool.DataSource"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="${database.url}"
          p:username="${database.username}"
          p:password="${database.password}"
          p:testOnBorrow="true"
          p:validationQuery="SELECT 1 FROM sites"
          p:validationInterval="30000"
          p:maxActive="40"
          p:minIdle="10"
          p:maxIdle="20"
          p:timeBetweenEvictionRunsMillis="34000"
          p:minEvictableIdleTimeMillis="55000"
          p:removeAbandoned="true"
          p:removeAbandonedTimeout="55"
    />

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <context:component-scan base-package="ru.geekbrains.rest.**.service"/>
    <context:component-scan base-package="ru.geekbrains.rest.**.repository"/>
</beans>