{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">
            <img class="navbar-brand__logo" alt="Statistics App" src="{% static 'logo.png' %}">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="../common">Общая статистика</a></li>
            <li class="active"><a href="../everyday">Ежедневная статистика</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <h1>Статистика упоминаний</h1>
    <br>
    <form class="form-horizontal" action="/everyday/" method="post">{% csrf_token %}
      <div class="col-sm-6">
        <div class="form-group">

          <label for="site" class="col-sm-2 control-label">Сайт</label>
          <div class="col-sm-10">
            <select class="form-control" id="site" name="site_id">

                {% for site in sites %}
                    <option value={{ site.id }} {% if site.id == site_id %} selected {% endif %}>
                        {{ site.name }}
                    </option>
                {% endfor %}

            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="person" class="col-sm-2 control-label">Личность</label>
          <div class="col-sm-10">

              <select class="form-control" id="person" name="person_id">
                {% for person in persons %}
                    <option value={{ person.id }} {% if person.id == person_id %} selected {% endif %}>
                        {{ person.name }}
                    </option>
                {% endfor %}
              </select>


          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="site" class="col-sm-2 control-label">c: </label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="start" value="{{ start|date:"Y-m-d"}}"
    max="{{ end|date:"Y-m-d"}}" min="2002-05-29">
          </div>
        </div>
        <div class="form-group">
          <label for="person" class="col-sm-2 control-label">по: </label>
          <div class="col-sm-10">
            <input type="date" class="form-control" name="end"
    max="{{ end|date:"Y-m-d"}}" min="{{ start|date:"Y-m-d"}}" value='{{ end|date:"Y-m-d"}}'>
          </div>
        </div>
      </div>

    <div class="col-sm-6" align="center">
              <input type="submit" class="btn btn-primary" value="Показать">
            </div>

    </form>

    <br>
    <table class="table table-striped" id="site">
      <tr>
        <th>Дата</th>
        <th>Рейтинг</th>
      </tr>

        {% for string in daily_stat %}
            <tr>
                <td>{{ string.date|slice:"8:"}}.{{ string.date|slice:"5:7"}}.{{ string.date|slice:":4"}}</td>
                <td>{{ string.countNewPages }}</td>
            </tr>
        {% endfor %}



    </table>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"  charset="utf-8"></script>
</body>
</html>
